<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotels Catalog</title>
    <!-- подключения локального bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<h1>Добро пожаловать в систему учета несоответствующей продукции</h1>
<h5><a th:href="@{/nc-product-type}">Работа со справочником видов брака</a></h5>
<h5><a th:href="@{/nc-product-cause}">Работа со справочником причин брака</a></h5>
<h5><a th:href="@{/production}">Работа со справочником видов продукции</a></h5>
<h5><a th:href="@{/tech-operation}">Работа со справочником видов технологических операций</a></h5>
<h5><a th:href="@{/sector}">Работа со справочником производственных участков</a></h5>
<h5><a th:href="@{/team}">Работа со справочником бригад</a></h5>
<br>
<h5>Разработал Бурых В.Д., группа Java213 &copy</h5>
</body>
</html>