<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Акты о браке</title>
    <th:block th:insert="layout/page-layout.html :: page-head"></th:block>
</head>
<body>
<div class="container-fluid">
    <div class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <a href="" class="navbar-brand">Акты о браке</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:href="@{/}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/defective-act/new}" class="nav-link">Добавить новый акт</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- верстка с использованием bootstrap -->
<div class="container-fluid text-center">
    <!-- вывод сообщения success message -->
    <p class="alert alert-success" th:if="${successMessage != null}">
        [[${successMessage}]]
    </p>

    <!-- вывод сообщения danger message -->
    <p class="alert alert-danger" th:if="${dangerMessage != null}">
        [[${dangerMessage}]]
    </p>

    <!-- вывод таблицы через цикл -->
    <table class="table table-bordered">
        <!-- шапка таблицы -->
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Номер акта</th>
            <th>Дата</th>
            <th>Действия</th>
        </tr>
        </thead>
        <!-- тело таблицы -->
        <tbody>
        <tr th:each="defectiveAct: ${defectiveActs}">
            <td class="text-end">[[${defectiveAct.id}]]</td>
            <td class="text-start">[[${defectiveAct.number}]]</td>
            <td class="text-center">[[${#dates.format(defectiveAct.date, "dd.MM.yyyy")}]]</td>
            <!-- ячейка действия -->
            <td>
                <a class="btn btn-danger" th:href="@{'/defective-act/delete/' + ${defectiveAct.id}}">
                    <th:block th:replace="layout/page-layout.html :: delete-icon"/>
                </a>
                <a class="btn btn-primary" th:href="@{'/defective-act/update/' + ${defectiveAct.id}}">
                    <th:block th:replace="layout/page-layout.html :: update-icon"/>
                </a>
                <a class="btn btn-success" th:href="@{'/defective-act/' + ${defectiveAct.id}}">
                    <th:block th:replace="layout/page-layout.html :: detail-icon"/>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <br><br><br>
    <!-- Вставка фрагмента футера -->
    <th:block th:replace="layout/page-layout.html :: page-footer"/>
</div>
</body>
</html>