<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Акты о браке</title>
    <!-- подключения локального bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<!-- верстка с использованием bootstrap -->
<div class="container-fluid text-center">
    <div class="container-sm align-content-center text-center">
        <h1>Редактирование записи в таблице Актов о браке</h1>
        <!-- вывод сообщения danger message -->
        <p class="alert alert-danger" th:if="${dangerMessage != null}">
            [[${dangerMessage}]]
        </p>
        <form method="post" th:action="@{defective-act/update}" th:object="${defectiveAct}">
            <!-- id (пример с полем только для чтения) -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" for="id">ID: </label>
                <div class="col-sm-3">
                    <input class="form-control" type="number" id="id" th:field="*{id}" readonly/>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" for="number">№ Акта: </label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="number" required minlength="1" th:field="*{number}">
                </div>
                <label class="col-sm-2 col-form-label" for="date">Дата составления: </label>
                <div class="col-sm-3">
                    <!--/*@thymesVar id="date" type=""*/-->
                    <input class="form-control" type="date" id="date" th:field="${defectiveAct.date}">
                </div>
            </div>
            <div class="mb-3 row">Комиссия в составе:</div>
            <div class="mb-3 row">
                <!--                <label class="col-sm-2 col-form-label" for="idWorker1"></label>-->
                <!--Сотрудник 1-->
                <div class="col-sm-6">
                    <select class="form-select" th:field="*{worker1}">
                        <option th:each=" worker: ${workers}" th:value="${worker.id}">
                            [[${worker.post + " " + worker.name}]]
                        </option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <select class="form-select" th:field="*{worker2}">
                        <option th:each="worker: ${workers}" th:value="${worker.id}">
                            [[${worker.post + " " + worker.name}]]
                        </option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-6">
                    <select class="form-select" th:field="*{worker3}">
                        <option th:each=" worker: ${workers}" th:value="${worker.id}">
                            [[${worker.post + " " + worker.name}]]
                        </option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <select class="form-select" th:field="*{worker4}">
                        <option th:each=" worker: ${workers}" th:value="${worker.id}">
                            [[${worker.post + " " + worker.name}]]
                        </option>
                    </select>
                </div>
            </div>
            <!-- кнопка отправки формы -->
            <div class="mb-3 row">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <button class="btn btn-success form-control">Сохранить</button>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-danger form-control" th:href="@{/defective-act}">Отменить</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>